## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df["APPLICATION_TYPE"].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_above_one = classification_counts[classification_counts > 1]
classification_counts_above_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts_above_one[classification_counts_above_one < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      643
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1900        1
C2600        1
C1248        1
C6100        1
C1820        1
C1580        1
C2570        1
C1732        1
C3700        1
C2500        1
C1570        1
C1283        1
C2380        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 48)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  7
hidden_nodes_layer2 = 14
hidden_nodes_layer3 = 1

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 532

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 659
Trainable params: 659
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6024 - accuracy: 0.7050
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5645 - accuracy: 0.7245
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5578 - accuracy: 0.7286
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5549 - accuracy: 0.7292
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7320
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.7316
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7322
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7310
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7325
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7322
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7335
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7324
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7329
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7329
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7327
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7321
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7334
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7330
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7325
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7331
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7336
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7338
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7333
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7332
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7334
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7336
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7330
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7329
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7332
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7334
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7331
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7340
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7338
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7338
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7342
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7338
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7345
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7331
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7340
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7337
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7338
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7341
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7341
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7345
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7347
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7339
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7347
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7345
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7346
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7351
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7348
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7344
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7336
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7352
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7352
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7344
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7349
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7351
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7344
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7345
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7348
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7352
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7353
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7356
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7349
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7342
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7345
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7347
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7349
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7343
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7346
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7349
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7342
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7349
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7355
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7352
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7355
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7352
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7351
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7349
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7347
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7348
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7348
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7352
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7353
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7351
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7362
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7352
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7348
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7355
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7358
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7362
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7352
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7344
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7359
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7354
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7352
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7352
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7359

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5494 - accuracy: 0.7300 - 343ms/epoch - 1ms/step
Loss: 0.5493840575218201, Accuracy: 0.7300291657447815

In [17]:
# Optimize neural net #1
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 14
hidden_nodes_layer2 = 20
hidden_nodes_layer3 = 7

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 14)                1064

 dense_4 (Dense)             (None, 20)                300

 dense_5 (Dense)             (None, 1)                 21

=================================================================
Total params: 1,385
Trainable params: 1,385
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the optimized model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5887 - accuracy: 0.7050
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5575 - accuracy: 0.7282
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5537 - accuracy: 0.7294
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7302
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7308
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7306
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7306
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7311
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7323
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7306
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7315
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7304
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7334
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7317
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7322
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7318
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7338
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7331
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7336
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7338
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7345
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7348
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7342
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7337
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7348
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7349
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7346
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7348
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7336
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7360
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7340
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7353
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7350
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7350
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7361
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7367
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7365
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7374
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7364
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7358
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7357
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7358
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7370
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7367
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7368
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7364
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7363
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7363
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7379
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7369

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5513 - accuracy: 0.7296 - 308ms/epoch - 1ms/step
Loss: 0.5513434410095215, Accuracy: 0.7295626997947693

In [21]:
# Train the optimized model with 100 epochs
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7369
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7371
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7372
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7379
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7374
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7364
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7365
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7365
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7364
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7373
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7365
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7382
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7365
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7378
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7371
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7379
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7383
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7376
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7389
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7375
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7378
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7374
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7381
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7368
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7374
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7376
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7381
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7378
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7381
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7377
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7379
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7391
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7374
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7384
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7377
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7379
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7383
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7374
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7379
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7378
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7379
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7385
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7377
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7379
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7383
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7381
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7370
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7391
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7387
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7375
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7382
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7385
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7392
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7381
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7382
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7379
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7391
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7389
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7382
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7389
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7392
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7391
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7388
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7393
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7376
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7392
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7385
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7387
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7388
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7392
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7399
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7392
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7388
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7393
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7383
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7381
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7389
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7397
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7382
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7396
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7379
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7376
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7401
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7391
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7390
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7390
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7396
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7392
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7397
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7379
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7396
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7397
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7397

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5512 - accuracy: 0.7275 - 217ms/epoch - 812us/step
Loss: 0.5511532425880432, Accuracy: 0.7274635434150696

In [23]:
# Train the optimized model with 150 epochs
fit_model = nn.fit(X_train_scaled,y_train,epochs=150)

Epoch 1/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7391
Epoch 2/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7399
Epoch 3/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7397
Epoch 4/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7389
Epoch 5/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7393
Epoch 6/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7396
Epoch 7/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7392
Epoch 8/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7386
Epoch 9/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 10/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7387
Epoch 11/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7385
Epoch 12/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7400
Epoch 13/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7391
Epoch 14/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7379
Epoch 15/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7385
Epoch 16/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7391
Epoch 17/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7392
Epoch 18/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 19/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7397
Epoch 20/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 21/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7389
Epoch 22/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7390
Epoch 23/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7400
Epoch 24/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7396
Epoch 25/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 26/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7393
Epoch 27/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7402
Epoch 28/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7393
Epoch 29/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7400
Epoch 30/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7383
Epoch 31/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7394
Epoch 32/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7397
Epoch 33/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7407
Epoch 34/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7391
Epoch 35/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7390
Epoch 36/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7407
Epoch 37/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7400
Epoch 38/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7400
Epoch 39/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 40/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7392
Epoch 41/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7395
Epoch 42/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7393
Epoch 43/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7390
Epoch 44/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 45/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7402
Epoch 46/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7402
Epoch 47/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7403
Epoch 48/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7400
Epoch 49/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7399
Epoch 50/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 51/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7399
Epoch 52/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7399
Epoch 53/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7397
Epoch 54/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7399
Epoch 55/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 56/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7401
Epoch 57/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7402
Epoch 58/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7405
Epoch 59/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7393
Epoch 60/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7406
Epoch 61/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7398
Epoch 62/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7405
Epoch 63/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7398
Epoch 64/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 65/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7405
Epoch 66/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7405
Epoch 67/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7397
Epoch 68/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7408
Epoch 69/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7409
Epoch 70/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7409
Epoch 71/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7396
Epoch 72/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 73/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7401
Epoch 74/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7399
Epoch 75/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7400
Epoch 76/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7393
Epoch 77/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7407
Epoch 78/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7405
Epoch 79/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7399
Epoch 80/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7402
Epoch 81/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7404
Epoch 82/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7404
Epoch 83/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7399
Epoch 84/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7405
Epoch 85/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7407
Epoch 86/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7396
Epoch 87/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7411
Epoch 88/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7398
Epoch 89/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7414
Epoch 90/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7401
Epoch 91/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7398
Epoch 92/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7403
Epoch 93/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7404
Epoch 94/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7396
Epoch 95/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7406
Epoch 96/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7404
Epoch 97/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7391
Epoch 98/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7397
Epoch 99/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7405
Epoch 100/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7400
Epoch 101/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7403
Epoch 102/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7390
Epoch 103/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7411
Epoch 104/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7397
Epoch 105/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7402
Epoch 106/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7390
Epoch 107/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7404
Epoch 108/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7403
Epoch 109/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7405
Epoch 110/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7402
Epoch 111/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 112/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7407
Epoch 113/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7404
Epoch 114/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7407
Epoch 115/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7401
Epoch 116/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7404
Epoch 117/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7408
Epoch 118/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7397
Epoch 119/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7408
Epoch 120/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7408
Epoch 121/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7406
Epoch 122/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7398
Epoch 123/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7404
Epoch 124/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7409
Epoch 125/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7407
Epoch 126/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7407
Epoch 127/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7404
Epoch 128/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7410
Epoch 129/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7399
Epoch 130/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7410
Epoch 131/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7416
Epoch 132/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7403
Epoch 133/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7404
Epoch 134/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7413
Epoch 135/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7411
Epoch 136/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7408
Epoch 137/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7405
Epoch 138/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7406
Epoch 139/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7400
Epoch 140/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7406
Epoch 141/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7405
Epoch 142/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7404
Epoch 143/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7411
Epoch 144/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7407
Epoch 145/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7410
Epoch 146/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7406
Epoch 147/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7409
Epoch 148/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7402
Epoch 149/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7407
Epoch 150/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7411

In [4]:
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
application_df_with_name = application_df.drop(columns=["EIN"])
application_df_with_name.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df["APPLICATION_TYPE"].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df_with_name['APPLICATION_TYPE'] = application_df_with_name['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df_with_name['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts_above_one = classification_counts[classification_counts > 1]
classification_counts_above_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts_above_one[classification_counts_above_one < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df_with_name['CLASSIFICATION'] = application_df_with_name['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df_with_name['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      643
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1900        1
C2600        1
C1248        1
C6100        1
C1820        1
C1580        1
C2570        1
C1732        1
C3700        1
C2500        1
C1570        1
C1283        1
C2380        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_with_name = pd.get_dummies(application_df_with_name,dtype=float)
application_df_with_name.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_df_with_name["IS_SUCCESSFUL"].values
X = application_df_with_name.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 48)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity.h5')
files.download('/content/AlphabetSoupCharity.h5')